/*-------------------------------------------maps----------------------------------*/
/*--------------------------------------------mixin--------------------------------*/
/*----------------------------------------------loop------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap");
.menu-0 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 0ms both;
          animation: zoom-menu 1500ms 0ms both;
}

.menu-0__content {
  margin: auto;
  text-align: center;
}

.menu-0__content h2 {
  font-weight: normal;
}

.menu-1 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 1500ms both;
          animation: zoom-menu 1500ms 1500ms both;
}

.menu-1__content {
  margin: auto;
  text-align: center;
}

.menu-1__content h2 {
  font-weight: normal;
}

.menu-2 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 3000ms both;
          animation: zoom-menu 1500ms 3000ms both;
}

.menu-2__content {
  margin: auto;
  text-align: center;
}

.menu-2__content h2 {
  font-weight: normal;
}

.menu-3 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 4500ms both;
          animation: zoom-menu 1500ms 4500ms both;
}

.menu-3__content {
  margin: auto;
  text-align: center;
}

.menu-3__content h2 {
  font-weight: normal;
}

.menu-4 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 6000ms both;
          animation: zoom-menu 1500ms 6000ms both;
}

.menu-4__content {
  margin: auto;
  text-align: center;
}

.menu-4__content h2 {
  font-weight: normal;
}

/*--------------------------------------------fonts--------------------------------------------*/
/*--------------------------------------------animations--------------------------------------*/
@-webkit-keyframes zoom-menu {
  0% {
    font-size: 25%;
    opacity: 0;
  }
  100% {
    font-size: 115%;
    opacity: 1;
  }
}
@keyframes zoom-menu {
  0% {
    font-size: 25%;
    opacity: 0;
  }
  100% {
    font-size: 115%;
    opacity: 1;
  }
}

@-webkit-keyframes dotdotdot {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes dotdotdot {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@-webkit-keyframes shake-btn {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@keyframes shake-btn {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/*----------------------------------------------------banner+button---------------------------------------------*/
header {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
}

header h1 {
  color: #fde346;
  font-size: 4.2em;
  margin: auto;
  font-weight: bold;
}

.soon {
  width: 400px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  border-radius: 10px;
  margin: 40px auto;
}

.soon p {
  margin: auto;
  color: #fdcb46;
  font-size: 2.4em;
}

.soon span {
  font-size: 50px;
  -webkit-animation: dotdotdot 1500ms infinite both;
          animation: dotdotdot 1500ms infinite both;
}

.soon span:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.soon span:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

footer {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1px;
}

footer a {
  text-decoration: none;
  padding: 15px;
  color: #fdcb46;
  font-size: 1.4em;
}

footer .shaky {
  -webkit-animation: shake-btn 1500ms ease-in-out both;
          animation: shake-btn 1500ms ease-in-out both;
}

footer .shaky--2 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

/*-------------------------------------------------menu---------------------------------------*/
.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

.fa-music {
  background: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background: linear-gradient(left, red, orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcdfdb;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu-1__content {
  font-family: "Zhi Mang Xing", sans-serif;
  color: #000;
  font-size: 1.4em;
}

.menu-1__title {
  font-size: 2.4em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "segoe print", sans-serif;
}

.menu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff5fe;
}

.menu-2__content {
  color: #c77412;
  font-size: 1.4em;
}

.menu-2__title {
  font-size: 2.4em;
  font-weight: bold;
  font-family: "comic sans", sans-serif;
}

.menu-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9;
}

.menu-3__content {
  color: #0887fb;
  font-size: 1.4em;
}

.menu-3__title {
  font-size: 2.4em;
  font-family: "segoe print", sans-serif;
}

.menu-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fdfffd;
}

.menu-4__content {
  color: #72bf56;
  font-size: 1.4em;
}

.menu-4__title {
  font-size: 2.4em;
  font-family: "segoe print", sans-serif;
}
/*# sourceMappingURL=main.css.map */