@import "./utils/utils";
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}


/*----------------------------------------------------banner+button---------------------------------------------*/

header {
    width: 100%;
    height: 120px;
    @include form-block;
    & h1 {
        @include form-blockelement( adjust-hue(map-get($font-color, main), 8), map-get($font-size, header));
        margin: auto;
        font-weight: bold;
        @media (max-width: $bp-phone) {
            font-size: map-get($font-size, title-tablet);
        }
    }
}

.soon {
    width: 400px;
    height: 60px;
    @include form-block;
    border-radius: 10px;
    margin: 40px auto;
    @media (max-width: $bp-phone) {
        width: 95%;
    }
    & p {
        margin: auto;
        @include form-blockelement( map-get($font-color, main), map-get($font-size, title-menu));
        @media (max-width: $bp-phone) {
            font-size: 1.7em
        }
    }
    & span {
        font-size: 50px;
        animation: dotdotdot 1500ms infinite both;
        &:nth-child(2) {
            animation-delay: 200ms;
        }
        &:nth-child(3) {
            animation-delay: 400ms;
        }
    }
}

footer {
    width: 100%;
    height: 60px;
    @include form-block;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 1px;
    a {
        text-decoration: none;
        padding: 15px;
        @include form-blockelement;
    }
    & .shaky {
        animation: shake-btn $duration ease-in-out both;
        &--2 {
            animation-delay: $duration;
        }
    }
}


/*-------------------------------------------------menu---------------------------------------*/

.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
}

.fa-music {
    @include title-gradient(left, #f15f62, #f99b76);
}

.menu-1 {
    @include form-block(map-get($colors, bg-menu-1));
    animation-delay: 700ms;
    &__content {
        font-family: "Devonshire", sans-serif;
        @include form-blockelement(map-get($font-color, txt-menu-1));
    }
    &__title {
        font-size: map-get($font-size, title-menu);
        font-weight: bold;
        text-transform: uppercase;
        font-family: "segoe print", sans-serif;
    }
}

.menu-2 {
    @include form-block(map-get($colors, bg-menu-2));
    &__content {
        font-family: "Gabriela", sans-serif;
        font-size: map-get($font-size, txt-menu);
        @include title-gradient(.25turn, #c67412 15%, #9263f6);
    }
    &__title {
        font-weight: bold;
        font-family: serif;
        font-size: map-get($font-size, title-menu);
        -webkit-text-fill-color: map-get($font-color, txt-menu-2);
    }
}

.menu-3 {
    @include form-block(map-get($colors, bg-menu-3));
    &__content {
        font-family: "Dancing Script", sans-serif;
        @include form-blockelement;
        @include title-gradient(left, #0222ca, #2095fb);
        padding-left: 5px;
        //padding for letter cut
    }
    &__title {
        font-size: map-get($font-size, title-menu);
        font-family: "segoe print", sans-serif;
        -webkit-text-fill-color: #2095fb;
    }
}

.menu-4 {
    @include form-block(map-get($colors, bg-menu-4));
    &__content {
        font-family: "Kaushan Script", sans-serif;
        @include form-blockelement;
        @include title-gradient(left, #388235, #d8ffb2);
    }
    &__title {
        font-size: map-get($font-size, title-menu);
        font-family: "segoe print", sans-serif;
        -webkit-text-fill-color: #69bc4b;
    }
}