/*-------------------------------------------maps----------------------------------*/
/*--------------------------------------------mixin--------------------------------*/
/*----------------------------------------------loop------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap");
.menu-0 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 2500ms 0ms backwards;
          animation: zoom-menu 2500ms 0ms backwards;
}

.menu-0__content {
  margin: auto;
  text-align: center;
}

.menu-0__content h2 {
  font-weight: normal;
}

.menu-1 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 2500ms 2500ms backwards;
          animation: zoom-menu 2500ms 2500ms backwards;
}

.menu-1__content {
  margin: auto;
  text-align: center;
}

.menu-1__content h2 {
  font-weight: normal;
}

.menu-2 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 2500ms 5000ms backwards;
          animation: zoom-menu 2500ms 5000ms backwards;
}

.menu-2__content {
  margin: auto;
  text-align: center;
}

.menu-2__content h2 {
  font-weight: normal;
}

.menu-3 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 2500ms 7500ms backwards;
          animation: zoom-menu 2500ms 7500ms backwards;
}

.menu-3__content {
  margin: auto;
  text-align: center;
}

.menu-3__content h2 {
  font-weight: normal;
}

.menu-4 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 2500ms 10000ms backwards;
          animation: zoom-menu 2500ms 10000ms backwards;
}

.menu-4__content {
  margin: auto;
  text-align: center;
}

.menu-4__content h2 {
  font-weight: normal;
}

/*--------------------------------------------fonts--------------------------------------------*/
@-webkit-keyframes zoom-menu {
  0% {
    font-size: 25%;
    opacity: 0;
  }
  100% {
    font-size: 115%;
    opacity: 1;
  }
}
@keyframes zoom-menu {
  0% {
    font-size: 25%;
    opacity: 0;
  }
  100% {
    font-size: 115%;
    opacity: 1;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/*----------------------------------------------------banner+button---------------------------------------------*/
header {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
}

header h1 {
  color: #fde346;
  font-size: 4.2em;
  margin: auto;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1px;
}

footer a {
  text-decoration: none;
  padding: 15px;
  color: #fdcb46;
  font-size: 1.5em;
}

/*------------------------------------------menu-------------------------------------*/
.menu-title {
  text-align: center;
  margin: 30px;
  font-size: 2.4em;
}

.menu-title--inside {
  margin: 90px;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  height: 1500px;
  margin: 10px auto 60px;
  padding: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcdfdb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

article h3 {
  font-size: 1.9em;
}

article .starter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 30px 0;
}

article .starter ul:nth-child(2) {
  font-weight: bold;
}

article .starter li {
  list-style-type: none;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-style: normal;
}

article .main-course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 30px 0;
}

article .main-course ul:nth-child(2) {
  font-weight: bold;
}

article .main-course li {
  list-style-type: none;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-style: normal;
}

article .dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 30px 0;
}

article .dessert ul:nth-child(2) {
  font-weight: bold;
}

article .dessert li {
  list-style-type: none;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-style: normal;
}
/*# sourceMappingURL=menu-4.css.map */