/*-------------------------------------------maps----------------------------------*/
/*--------------------------------------------mixin--------------------------------*/
/*----------------------------------------------loop------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap");
.menu-0 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 0ms both;
          animation: zoom-menu 1500ms 0ms both;
}

.menu-0__content {
  margin: auto;
  text-align: center;
}

.menu-0__content h2 {
  font-weight: normal;
}

.menu-1 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 1500ms both;
          animation: zoom-menu 1500ms 1500ms both;
}

.menu-1__content {
  margin: auto;
  text-align: center;
}

.menu-1__content h2 {
  font-weight: normal;
}

.menu-2 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 3000ms both;
          animation: zoom-menu 1500ms 3000ms both;
}

.menu-2__content {
  margin: auto;
  text-align: center;
}

.menu-2__content h2 {
  font-weight: normal;
}

.menu-3 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 4500ms both;
          animation: zoom-menu 1500ms 4500ms both;
}

.menu-3__content {
  margin: auto;
  text-align: center;
}

.menu-3__content h2 {
  font-weight: normal;
}

.menu-4 {
  width: 550px;
  height: 680px;
  margin: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  -webkit-animation: zoom-menu 1500ms 6000ms both;
          animation: zoom-menu 1500ms 6000ms both;
}

.menu-4__content {
  margin: auto;
  text-align: center;
}

.menu-4__content h2 {
  font-weight: normal;
}

/*--------------------------------------------fonts--------------------------------------------*/
/*--------------------------------------------animations--------------------------------------*/
@-webkit-keyframes zoom-menu {
  0% {
    font-size: 25%;
    opacity: 0;
  }
  100% {
    font-size: 115%;
    opacity: 1;
  }
}
@keyframes zoom-menu {
  0% {
    font-size: 25%;
    opacity: 0;
  }
  100% {
    font-size: 115%;
    opacity: 1;
  }
}

@-webkit-keyframes dotdotdot {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes dotdotdot {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@-webkit-keyframes shake-btn {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@keyframes shake-btn {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/*----------------------------------------------------banner+button---------------------------------------------*/
header {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
}

header h1 {
  color: #fde346;
  font-size: 4.2em;
  margin: auto;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1px;
}

footer a {
  text-decoration: none;
  padding: 15px;
  color: #fdcb46;
  font-size: 1.4em;
}

footer .shaky {
  -webkit-animation: shake-btn 1500ms ease-in-out both;
          animation: shake-btn 1500ms ease-in-out both;
}

footer .shaky--2 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

/*------------------------------------------menu-------------------------------------*/
.menu-title {
  text-align: center;
  margin: 30px;
  font-size: 2.4em;
}

.menu-title--inside {
  margin-bottom: 70px;
  font-size: 4.2em;
}

.fa-music {
  background: -webkit-linear-gradient(left, red, orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  height: 1500px;
  margin: 10px auto 60px;
  padding: 50px;
  -webkit-box-shadow: 1px 1px 15px 1px #7a7a7a;
          box-shadow: 1px 1px 15px 1px #7a7a7a;
  background-color: #fcdfdb;
  text-align: center;
}

article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  text-align: left;
  margin-bottom: 30px;
}

article section li {
  list-style-type: none;
  padding-bottom: 20px;
  font-size: 1.4em;
}

article section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

article section ul li.bold {
  font-weight: bold;
}

.dessert ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h3 {
  font-size: 1.8em;
  display: inline;
  line-height: 1.5em;
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.underline:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}
/*# sourceMappingURL=menu-1.css.map */