/*-------------------------------------------maps----------------------------------*/

$colors: ( block: #579c87, bg-menu-1: #fad5d0, bg-menu-2: #fbe1f8, bg-menu-3: #eeecec, bg-menu-4: #fdfffd);
$font-color: ( main: #fdcb46, txt-menu-1: #000, txt-menu-2: #c67412, starter-menu-2: #c67412, main-course-menu-2: #a55495, dessert-menu-2: #552acd);
$font-size: ( header: 4.2em, title-menu: 2.6em, section-menu: 2.3em, txt-menu: 1.6em, title-tablet: 2.5em, section-tablet: 1.7em, txt-tablet: 1.4em);
$i: 0;
$duration: 1500ms;
$bp-tablet: 768px;
$bp-phone: 425px;

/*--------------------------------------------mixin--------------------------------*/

@mixin googlefonts($fonts) {
    @import url("https://fonts.googleapis.com/css?family=#{$fonts}&display=swap");
}

@mixin form-block($bg-colour: map-get($colors, block)) {
    display: flex;
    background-color: $bg-colour;
}

@mixin form-blockelement( $colour: map-get($font-color, main),
$size: map-get($font-size, txt-menu)) {
    color: $colour;
    font-size: $size;
}

@mixin menu-page($size) {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    text-align: left;
    & li {
        list-style-type: none;
        padding-bottom: 20px;
        font-size: $size;
    }
}

@mixin breakpoint-phone($height,
$background,
$border) {
    article {
        @media (max-width: $bp-phone) {
            width: 95%;
            height: $height;
            padding: 5px;
            & section ul {
                display: block;
                padding-inline-start: 0;
                text-align: center;
                & li {
                    padding-bottom: 0px;
                    &.bold {
                        font-weight: bold;
                        @media (max-width: $bp-phone) {
                            display: inline;
                            border-radius: 50%;
                            background: $background;
                            line-height: 4.2em;
                            padding: 10px;
                            border: 2px dotted $border;
                        }
                    }
                }
            }
        }
    }
}

@mixin title-gradient($position,
$color-left,
$color-right) {
    background: linear-gradient($position, $color-left, $color-right);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*----------------------------------------------loop------------------------------------------*/

@while $i <=4 {
    .menu-#{$i} {
        width: 550px;
        height: 680px;
        margin: 50px;
        box-shadow: 1px 1px 15px 1px #7a7a7a;
        animation: zoom-menu $duration ($duration * $i) both;
        @media (max-width: $bp-phone) {
            width: 300px;
        }
        &__content {
            margin: auto;
            text-align: center;
            & h2 {
                font-weight: normal;
            }
        }
    }
    $i: $i+1;
}


/*--------------------------------------------fonts--------------------------------------------*/

@include googlefonts("Montserrat");
@include googlefonts("Devonshire");
@include googlefonts("Caveat");
@include googlefonts("Dancing+Script");
@include googlefonts("Kaushan+Script");
@include googlefonts("Gabriela");
@import "./anims.scss";